/* font styles
font-family: 'Fira Sans', sans-serif; Headings
font-family: 'Crete Round', serif; Headings
font-family: 'Merriweather', serif; Body text

Color Palette

*/

:root {
  --background: #ffb677;
  --secondary: #ff8364;
  --green: #616f39;
  --light: #ffd98e;
}

*::before,*::after {
  box-sizing: border-box;
}
/* General Page styling */
html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  /* background: var(--green); */
  font-family: "Merriweather", serif;
  font-weight: 400;
  width: 100vw;
}
section {
  padding: calc(3rem + 30px) 0;
}
a{
  text-decoration: none;
  color: inherit;
}

/*Specific Class styling, usually for positioning */
.container {
    width: 80%;
    max-width: 2400px;
    margin: 0 auto;
}

.grid {
  display: grid;
}

.title {
  font-size: 3.5rem;
  font-family: 'Crete Round', serif;
  font-variant: small-caps;
  letter-spacing: 1.3px;
  margin: 0 10px 1rem;
  padding-top: 2rem;
}
.sub-title {
  border-radius: 28px;
  font-size: 1.5rem;
  width: 70%;
  padding: 10px;
  opacity: 0.5;
  margin: 0 auto;

}

.btn {
  border-radius: 28px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  padding: 4px 8px;
  margin: 0 auto;
  transition: all ease-in-out 250ms
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0, 0.24);
}

.btn-icon {
  margin: 0 5px;
}
.box-shadow {
  box-shadow: 0 12px 16px 0 rgba(0,0,0, 0.24);
}

header {
  background: white;
  text-align: center;
  display: block;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: solid 5px var(--secondary);
  margin: 0;
}
header::after {
  clear: both;
}
.logo {
  color: var(--green);
  font-variant: small-caps;
  font-size: 1.5rem;
}
.nav-toggle {
  display: none;
}

.nav-toggle-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label:hover {
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--background);
  height: 3px;
  width: 2em;
  border-radius: 3px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 10px;
}
.nav-toggle-label span::after {
  top: 10px;
}

.header-nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: white;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;


}
.header-nav-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-nav-li {
  margin-bottom: 1em;
  margin-left: 1em;
}

 .header-nav-a {
  color: var(--green);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.header-nav-a:hover {
  color: var(--green);
  border-bottom: 2px solid var(--green);
}
/*looks for nav that is a sibling of nav toggle (~)*/
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
  border-bottom: solid 5px var(--green);

}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/*------------------top-home styling begins --------------*/
.top-home {
  padding-top: calc(100px + 3rem);
  top: 0;
  background: var(--green);
  /* height: 40vh; */
}

.top-left {
  grid-area: left;
  color: #fff;
}
.top-home-p {
  margin: 1rem 0;
}


.top-right {
  grid-area: right;
}

.top-image {
  width: 100%;
  max-width: 650px;
  border-radius: 10px 20px;
  margin: 0 auto;
  box-shadow: 0 12px 16px 0 rgba(0,0,0, 0.24);


}
.top-home-grid {
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas: "left right";
}

.top-btn {
  background: var(--secondary);
  margin-top: 1em;
  margin-right: 1em;
}
.top-btn:hover {
  background: white;
  color: var(--secondary);
}

/* ---- end of top-home styling section ----*/
/* --------- start of accordion styling ---- */
#accordion {
  background-color: rgba(97,111,57,.5);
  text-align: center;
  color: white;
  padding: 0;
}
#accordion .title {
  margin-bottom: 0;
}
.accordion-column1, .accordion-column2, .accordion-column3 {
margin: 0 auto;
}
.accordion-column1 {
  grid-area: column1;
}
.accordion-column2 {
  grid-area: column2;
}
.accordion-column3 {
  grid-area: column3;
}

.accordion-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* grid-column-gap: 15px; */
/*   grid-auto-rows: minmax(150px, auto); */
  grid-template-areas:
    "column1 column2 column3"
}
.accordion, .tab-container, .tab, .content, .tab-header, .tab-content {
  margin: 0;
  padding: 0;
  border: none;
}

.accordion {
  width: 290px;
  padding: 1px 5px 5px 5px;
  background: #616f39;
  border-radius: 10px;
  margin-top: .5rem;
}

/* .accordion:hover {
  background: #eeeeee;
  color: var(--green);
} */

#close .tab {
  background: #eeeeee;
  color: var(--green);
}

.accordion .tab {
  display: block;
  height: 35px;
  margin-top: 4px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 0px rgba(0,0,0, .2);
  border-radius: 10px;
  text-align: center;
}

.tab-container::before {
  display: block;
  content: '';
  margin-top: -250px;
  height: 250px;
  visibility: hidden;
  pointer-events: none;
}
.tab-header {
  font: 2rem; 'Crete Round', serif;
}
.tab--btn-page {
  transition: all ease-in-out 250ms;
}

.tab-btn:hover .tab--btn-page {
  transform: rotate(90deg);
}

.accordion .tab:hover, .accordion div:target .accordion {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .15);
  background: white;
  color: var(--green);
  width: 100%;
  padding: 0;

}

.content {
  color: var(--green);
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.tab-content {
  font-size: 1.3rem;
  padding: .5rem;
}


.accordion div .content {
  display: none;
  margin: 5px;
  transition: all ease-in-out 150ms;
}

.accordion div:target .content {
  display: block;
}


.accordion &gt; div {
  height: 40px;
  overflow: hidden;
  transition: all ease-in-out .3s;

}

.accordion &gt; div:target {
  height: 100px;
}
.tab-content{
  margin: 10px 0;
  font: 11px/16px Arial, sans-serif;
}

.content ul li {
  list-style: none;
  margin: 5px 10px 5px 0;
}
/*-------- end of accordion styling ------- */
/* ------ start of middle-home section -----*/
.middle-home {
  background-color: white;
  width: 100%;
  color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;

}
.middle-home:hover .middle-subtitle {
  opacity: .8;
}

.middle-card {
  color: white;
  background: var(--green);
  text-align: center;
  margin: 0 auto;
  padding: 2rem .5rem;
  position: relative;
  border-radius: 10px;
  transform: skew(2deg, 2deg);
  transition: all ease-in-out 250ms;
}

.card-content{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.middle-card:hover {
  transform: skew(0);
}

.card-title {
  font-size: 2rem;
  padding: .5rem;
}

.card-img {
  width: 80%;
  border-radius: 10px;
  border: 3px #eeeeee solid;
  transition: all ease-in-out 250ms;
}

.middle-card:hover .card-img {
  width: 85%;
  box-shadow: 0 16px 20px 0 rgba(0,0,0, 0.5)
}
.card-btn {
  position: relative;
  margin: 0;
  padding: 10px 20px;
  border: 1px solid #eeeeee;
  color: #eeeeee;
  transition: all ease-in-out 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}

.middle-card:hover .card-btn{
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}
.card-btn:hover {
  color: var(--green);
  background: #eeeeee;
  border-color: var(--green);
}

.middle-intro, .middle-btm {
  text-align: center;
}

.middle-intro {
  grid-area: intro;
}

.middle-subtitle {
  margin: 0 auto;
  margin-bottom: 2rem;
  transition: all ease-in-out 250ms;
}

.middle-btm {
  grid-area: btm;
  font-size: 1.5rem;
}

.middle-card1 {
  grid-area: card1;

}

.middle-card2 {
  grid-area: card2;
  transform: skew(0);
}

.middle-card3 {
  grid-area: card3;
  transform: skew(-2deg, -2deg);
}




.middle-home-grid {
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto); /* possibly add this to .grid class, appears multiple times*/
  grid-template-areas:
    "intro intro intro"
    "card1 card2 card3"
    "btm btm btm"
}
/*---------------------- end of middle-home styling --------------*/
/* start of footer styling */
footer {
  background: var(--secondary);
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
}
.footer-logo {
  width: 10%;
  max-width: 200px;
}
.footer-ul {
  display: flex;
  width: 50%;
  padding: 1em 0;
  justify-content: space-around;
  margin: 0 auto;
}
.footer-li {
  display: inline-block;
  text-decoration: none;
}

.footer-top {
  opacity: .5;
  transition: all ease-in-out
}
.footer-top:hover {
  opacity: 1;
}
.footer-bottom {
  width: 25%;
}





@media screen and (min-width:1300px ) {
  .nav-toggle-label {
    display: none
  }
  header::after {
    clear: both;
  }
  .logo {
    float: left;
    font-size: 1.5em;

  }
  .header-nav {
    all: unset;
    float: right;
    padding: 1em;
  }

  .header-nav-ul {
    display: flex;
    justify-content: flex-end;
  }
  .header-nav-li {
    margin: 1rem;
  }

  .header-nav-a {
    opacity: 1;
    font-size: 1.2rem;
  }
}

@Media screen and (max-width:1300px) {
  .top-home-grid {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    grid-template-areas:
    "right"
    "left";
  }
  .sub-title {
    margin: 0 auto;
  }
  .middle-home-grid {
    grid-template-columns: repeat(1,1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(100px, auto); /* possibly add this to .grid class, appears multiple times*/
    grid-template-areas:
      "intro"
      "card1"
      "card2"
      "card3"
      "btm"
  }
  .middle-card {
    transform: none;
  }
  .card-btn {
    transform: none;
    opacity: 1;
    visibility: visible;
  }
  .accordion-column2 {
    display: none;
  }
  .accordion-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "column1 column3"
  }


}
